.hero {
    padding: 72px 16px 88px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__cloud {
        display: none;
    }

    &__image-container {
       margin-bottom:16px;
    }

    @media (min-width: 768px) {

        &__image-container {
            position:relative;
            width: 610px;
        }

        &__cloud {
            display: block;
            background-color: $background-blue;
            border-radius: 16px;
            color:white;
            font-size: 32px;
            line-height: 40px;
            padding: 16px 16px;
            position: absolute;
            top: 0px;
            right: 12px;

            &:after {
                background-image: url("../assets/img/Speech_cloud.svg");
                display: block;
                position: absolute;
                content: "";
                top: 70px;
                right: 186px;
                width: 18px;
                height: 23px;
            }
        }
    }

    &__image {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        border: 16px solid #F6F9FD;

        @media (min-width: 768px) {
            width: 178px;
            height: 178px;
            border: 24px solid #F6F9FD;
            margin-top: 40px;
        }
    }

    &__description {
        padding: 0 16px; 
            
        @media (min-width: 1000px) {
            position: relative;
            max-width: 830px;
            &:before,
            &:after {
                position: absolute;
                display: block;
                width: 83px;
                height: 255px;
                content: "";
                top: 0;
                
            }

            &:before {
                background-image: url("../assets/img/left_bracket.svg");
                right: 100%;
            }

            &:after {
                left: 100%;
                background: url("../assets/img/right_bracket.svg");
            }
        }
    }

    &__header {
        font-weight: 700;
        font-style: normal;
        font-size: 26px;
        line-height: 32px;

        @media (min-width: 768px) {
            font-size: 32px;
            line-height: 40px;
        }    

        &--color {
            color: $background-blue;
        }
    }

    &__paragraph {
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 48px;

        @media (min-width: 768px) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 68px;
        }  
    }

    &__link {
        color: $linkMail-color;

    }

    &__mail {
        background-color: $linkMail-color;
        padding: 4px 24px;
        border-radius: 64px;
        text-decoration: none;
        color:white;
        font-size: 20px;
    }
} 
