.skills {
        background-color: $background-blue;
        color: white;
        padding: 34px 16px 88px;
    
     &__header {
        text-align: center;
        font-size: 36px;
        line-height: 48px;
    
        @media (min-width: 768px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 128px;
        }
    }

    &__container-grid {
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap: 64px;
        margin: 0 auto;
        padding:0px;
         
    }

    @media (min-width: 1024px) {
        &__container-grid {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 24px;
            margin: 0 auto 176px auto;
            max-width: 1184px;
        }
    }    
}       


.skills-article {

    &__emoji {
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        display: block;
        margin-bottom: 16px;
    }
        
    &__header {
        text-align: center;
        margin: 24px;
    }
}



.skills-list {
    color: #dbeaf7;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 288px;
    margin:0 auto;

    @media (min-width: 768px) {
        width: 226px;
    }  

        
    &__item {
        list-style-type: none;
        padding: 0 0 24px 24px;
        position: relative; 
        text-align: left;

        &--green {
            &:before {
                content: "";
                background-image: url(../assets/img/green-tick.svg);
                width: 12px;
                height: 9px;
                position: absolute;
                display: block;
                left: 0;
                top: 7px;
            }
        }
        
        &--blue {
            &:before {
                content: "";
                background-image: url(../assets/img/blue-tick.svg);
                width: 12px;
                height: 9px;
                position: absolute;
                display: block;
                left: 0;
                top: 7px;
            }
        } 

        &--dot {
            &:before {
                content: "";
                background-image: url(../assets/img/dot.svg);
                width: 2px;
                height: 2px;
                position: absolute;
                display: block;
                left: 0;
                top: 10px;
            }
        } 
    }
}