.skills {
    background-color: $background-blue;
    color: white;
    padding: 80px 16px 176px;

    &__header {
        text-align: center;
        font-size: 36px;
        line-height: 48px;

        @media (min-width: $desktop) {
            font-size: 48px;
            line-height: 56px;
          }
    }

    &__container-grid {
        display:grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding:0px;
        max-width: 288px; 
    }

    @media (min-width: 768px) {
        &__container-grid {
            display:grid;
            grid-template-columns: 379px 379px 379px;
            grid-column-gap: 24px;
            margin: 0 auto;
            max-width: 1184px;
        }
    }
}

.skills-article {

    &__emoji {
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        display: block;
        margin-bottom: 16px;
    }

    &__header {
        text-align: center;

    }
}

.skills-list {
    font-size: 16px;
    line-height: 24px;
    padding-left: 18px;
    width: 225px;
    margin: 0 auto;
    
    &__item {
        list-style-type: none;
        padding: 0 0 24px 24px;
        position: relative; 
        text-align: left;

        &--green {
            &:before {
                content: "";
                background-image: url(../assets/img/green-tick.svg);
                width: 12px;
                height: 9px;
                position: absolute;
                display: block;
                left: 0;
                top: 7px;
            }
        }
        
        &--blue {
            &:before {
                content: "";
                background-image: url(../assets/img/blue-tick.svg);
                width: 12px;
                height: 9px;
                position: absolute;
                display: block;
                left: 0;
                top: 7px;
            }
        } 

        &--dot {
            &:before {
                content: "";
                background-image: url(../assets/img/dot.svg);
                width: 2px;
                height: 2px;
                position: absolute;
                display: block;
                left: 0;
                top: 10px;
            }
        } 
    }
}